body {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 96px;
    width: 100%;
    background-color: white
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    padding: 0 50px; /* Add padding on both left and right */
    z-index: 3;
    position: fixed; /* Fixed position to stick to the top */
    top: 0;
}

.navbar img {
    width: 70px;
    height: 70px;
    margin-left: 50px;
}

.navbar a {
    text-decoration: none;
    margin-left: 50px;
    font-size: 26px;
    color: black;
    transition: font-size 0.2s, color 0.3s;
}

.navbar .game-link {
    color: #3599a4;
    position: relative;
    transition: font-size 0.3s, color 0.3s, background-color 0.3s;
}

.navbar .game-link::after {
    content: "";
    display: block;
    width: 42px;
    height: 4px;
    background-color: #3599a4;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.2s ease-in-out;
}

/* navigation bar hover */

.navbar a:hover {
    font-size: 28px;
    color: #FCD79C;
}

.navbar .game-link:hover {
    font-size: 28px;
    font-weight: 1.5em;
    color: #3599a4;
    transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-out;
}

.navbar .game-link:hover::after {
    background-color: #3599a4;
    width: 60%;
}

/* Button container to control right positioning */
.button-container {
    position: absolute;
    right: 50px; /* Keep the button 50px from the right edge */
    top: 50%; /* Vertically center the button */
    transform: translateY(-50%);
}

/* Button */
button.Play-btn {
    background-color: #3599a4;
    color: white;
    height: 54px;
    width: 210px;
    font-size: 26px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: 150px; /* Keep the button 50px from the right edge of the screen */
    top: 50%; /* Vertically center the button */
    transform: translateY(-50%);
}

button.Play-btn:hover {
    height: 60px;
    width: 228px;
    font-size: 28px;
    background-color:#FCD79C;
    color: black;
    font-weight: 1.5em;
}

/* on scroll j.s section */

.navbar.transparent {
    background-color: rgba(0, 0, 0, 0.8); 
    
}

.navbar.transparent a{
    color: white; 
}

.navbar.transparent .game-link{
    color: #3599a4; 
}

/* overaly
 */

.overlay {
    display: none; /* Initially hide the overlay */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    z-index: 9999; /* Ensure it's above other elements */
    align-items: center;
    justify-content: center;
}

.overlay img {
    max-width: 90%; /* Adjust the maximum width as needed */
    max-height: 90%; /* Adjust the maximum height as needed */
    border: 2px solid white; /* Add a white border (optional) */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Add a white shadow (optional) */
}


